body {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100vh
}

footer {
    color: red;
    border-top: 2px solid red;
    margin-top: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}




/* estilos del menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  /* fin estilos del menu */