<!DOCTYPE html>
<html>
    <head>
        <title>Promedio Estudiantes</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css">    
    </head>     
    <body>
        <header>
                <h1>Bienvenido a la aplicacion web de gestion de cursos</h1>
        </header>
        {{>menu}}

