<ul>
  <li><a href="index">INICIO</a></li>
  <li><a href="crearcurso">CREAR CURSO</a></li>
  <li><a href="vercursos">VER CURSO</a></li>
  <li><a href="#">INSCRIBIR</a></li>
  <li><a href="#">VER INSCRITOS</a></li>
</ul>