<ul>
  <li><a href="index">INICIO</a></li>
  <li><a href="crearcurso">CREAR CURSO</a></li>
  <li><a href="vercursos">VER CURSO</a></li>
  <li><a href="inscribir">INSCRIBIR</a></li>
  <li><a href="inscritos">VER INSCRITOS</a></li>
  <li><a href="register">REGISTRAR</a></li>
  <li><a href="login">LOGIN</a></li>
</ul>