{{>header}}
    <p>
        Pagina secundaria de coordinador
    </p>
    <p>
        En esta seccion el coordinador podra ver alumnos inscritos en un curso y eliminar esa inscripcion
    </p>
    {{{listarInscripciones}}}
{{>footer}}    