{{>header}}

<p>
	Pagina del login
</p>

<form action = "/login" method="get">
	Usuario:<input type="text" name="user">
	Contraseña:<input type="password" name="pass">
	<button>Login</button>
</form>
{{>footer}}
