{{>header}}

<p>
	Pagina del login
</p>

<form action = "/inscribir" method="get">
	Usuario:<input type="text" name="user" required>
	Contraseña:<input type="password" name="pass" required>
	<button>Login</button>
</form>
{{>footer}}
