{{>header}}

<p>
	Pagina de registro
</p>

<form action = "/register" method="get" required>
	Doc identidad:<input type="number" name="id" required>
	Nombre:<input type="text" name="name" required>
	Correo:<input type="text" name="email" required>
	Telefono:<input type="number" name="tel" required>
	Usuario:<input type="text" name="user" required>
	Contraseña:<input type="password" name="pass" required>
	Rol:<select id="rolTxt" name="rol">
		<option value="Aspirante">Aspirante</option>
	</select>
	<button>Registrar</button>
</form>
{{>footer}}
