{{>header}}

<p>
	Pagina de registro
</p>

<form action = "/register" method="get">
	Usuario:<input type="text" name="user">
	Contraseña:<input type="password" name="pass">
	<select id="rolTxt" name="rol">
		<option value="Aspirante">Aspirante</option>
	</select>
	<button>Registrar</button>
</form>
{{>footer}}
